In [1]:
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",password="2001")

mycursor=mydb.cursor()

mycursor.execute("CREATE DATABASE Database_classdb")

In [2]:
mycursor.execute("SHOW DATABASES")
for db in mycursor:
    print(db)

('database_classdb',)
('information_schema',)
('itsdb',)
('mysql',)
('performance_schema',)
('sys',)

In [4]:
mydb=mysql.connector.connect(host="localhost",user="root",password="2001", database="Database_classdb")

mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE drivers(name VARCHAR(100),licenceNumber INTEGER(4))")

In [5]:
mycursor.execute("ALTER TABLE drivers ADD FATL_level INTEGER(2)")

In [6]:
mycursor.execute("ALTER TABLE drivers ADD FATL_date INTEGER(8)")

In [8]:
mycursor.execute("ALTER TABLE drivers ADD STLVT_level INTEGER(2)")
mycursor.execute("ALTER TABLE drivers ADD STLVT_date INTEGER(8)")
mycursor.execute("ALTER TABLE drivers ADD STLVT_authority VARCHAR(100)")

In [17]:
mydb=mysql.connector.connect(host="localhost",user="root",password="2001", database="Database_classdb")

mycursor=mydb.cursor()

sqlFormual='''INSERT INTO drivers(name,licenceNumber,FATL_level,FATL_date,STLVT_level,STLVT_date,STLVT_authority)
VALUES(%s,%s,%s,%s,%s,%s,%s)'''
drivers_list=[("Yusuf",3234,5,20061201,5,20101204,"Localpolice"),
        ("Jasur",5748,3,20121001,5,20131107,"Foreignerpolice"),
        ("Asliddin",9008,7,20161201,7,20161104,"Foreignerpolice"),
        ("Bahodir",2222,9,20161201,8,20131214,"Foreignerpolice"),
        ("Ali",9844,5,20201101,4,20161301,"Localpolice")]
mycursor.executemany(sqlFormual,drivers_list)
mydb.commit()

In [20]:
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE vehicels(model VARCHAR(100),color VARCHAR(100))")

In [26]:
mycursor.execute("ALTER TABLE vehicels ADD cond VARCHAR(10)")

In [27]:
sqlformula='''INSERT INTO vehicels(model,color,cond) VALUES(%s,%s,%s)'''
car_list=[('k5','red','M'),
         ('k7','white','M'),
         ('captiva','black','R'),
         ('Nexia','black','M'),
         ('Spark','blue','R')]
mycursor.executemany(sqlformula,car_list)
mydb.commit()

In [35]:
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE trip(start INTEGER(10), end INTEGER(10),number INTEGER(10))")

In [36]:
sqlformula='''INSERT INTO trip(start,end,number) VALUES(%s,%s,%s)'''
trip_list=[(20221202,20221230,23456),
         (20230202,20232230,87496),
         (20230102,20230203,98345),
         (20230301,20230430,29646),
        (20230202,20230230,53450)]
mycursor.executemany(sqlformula,trip_list)
mydb.commit()

In [37]:
mycursor.execute("CREATE TABLE officials(country VARCHAR(100),role VARCHAR(100), lang VARCHAR(100))")

In [39]:
sqlformula='''INSERT INTO officials(country,role,lang) VALUES(%s,%s,%s)'''
officials_list=[('Uzbekistan','Coach','Uzbek'),
               ('korea','worker','korean'),
               ('USA','Cleaner','english')]
mycursor.executemany(sqlformula,officials_list)
mydb.commit()